*****************************************
*****************************************
*********   REQUERIMIENTOS **************
*****************************************
*****************************************

pandas
numpy
requests
json
time
dotenv
time
datetime     
matplotlib
seaborn
re
geopandas
ast
nltk
sklearn
pickle
xgboost
warnings
tensorflow
keras
streamlit
PIL
folium
streamlit_folium
random